/* header */

.header {
    padding: var(--space-lg);
    position: relative;
    width: fit-content;
    width: 100%;
    min-height: 650px;
    max-height: 900px;
    aspect-ratio: 5 / 6;
    display: flex;
    flex-direction: column;
}

.desktop {
    display: none;
}

.background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top-section {
    display: flex;
    flex-direction: column;
}

.top-section .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.hero {
    width: 80%;
    max-width: 1000px;
    align-self: center;
    margin-block-start: clamp(24%, 24% + 6vw, 35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg)
}

.hero-text {
    font-size: var(--fs-3xl);
    font-family: var(--font-heads);
    color: var(--White);
    width: 90%;
    text-align: center;
    line-height: var(--space-xxl);
    text-transform: uppercase;
    letter-spacing: var(--space-xs);
}

/* navigation */

.navigation {
    opacity: 0;
    position: absolute;
    z-index: 2;
    background-color: var(--White);
    width: 88%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
    text-align: center;
    top: 120px;
    padding: var(--space-lg) 0 var(--space-xl);
    transition: opacity 0.3s ease-in, transform 0.2s ease-in;
}

.header:has(.checkbox:checked) .navigation {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: var(--fs-md);
    color: var(--Grey-550);
    transition: all 0.2s ease-in;
}

.link:hover,
.link:focus {
    color: var(--Black);
}

.cta {
    margin-block-start: var(--space-lg);
    padding: var(--space-md) var(--space-xl);
    background-color: var(--Yellow-500);
    border-radius: var(--radius-huge);
    color: var(--Black);
    font-family: var(--font-heads);
    transition: all 0.2s ease-in;
}

.cta:hover,
.cta:focus {
    color: var(--White);
    background-color: var(--Black)
}

.triangle {
    position: absolute;
    right: 0;
    top: -40px;
    border: 20px solid;
    border-color: transparent var(--White) var(--White) transparent;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
}

/* squares */

.squares {
    display: grid;
    grid-auto-flow: row;
}

.square {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: var(--space-lg) 0;
    gap: var(--space-lg);
    position: relative;
}

.img-container {
    padding: 0;
}

.first {
    padding-top: 0;
}

.square-title {
    font-family: var(--font-heads);
    font-weight: var(--fw-dark);
    font-size: var(--fs-xl);
    text-wrap: wrap;
    width: 100%;
    max-width: 350px;
    color: var(--Grey-950);
    line-height: var(--space-xl);
}

.square-desc {
    color: var(--Grey-600);
    font-size: 1.2rem;
    max-width: 455px;
}

.cta-link {
    text-decoration: none;
    color: var(--Black);
    font-size: var(--fs-md);
    text-transform: uppercase;
    font-family: var(--font-heads);
    position: relative;
    display: grid;
    place-items: center;
    height: 30px;
}

.bottom-border {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 10px;
    border-radius: var(--radius-md);
    opacity: 0.5;
    z-index: -1;
    transform: scaleX(1.1);
    transition: all 0.1s ease-in;
}

.cta-link:hover .bottom-border {
    bottom: auto;
    transform: scaleX(1.1) translateY(-10px);
}

.yellow {
    background-color: var(--Yellow-500);
}

.red {
    background-color: var(--Red-400);
}

.square-background {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;

}

.img-background {
    aspect-ratio: 2 / 2;
    justify-content: flex-end;
}

.graphic-design .square-title,
.graphic-design .square-desc {
    color: var(--Green-800)
}

.photography .square-title,
.photography .square-desc {
    color: var(--Blue-800)
}

/* comments */

.comments,
.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-title {
    margin-top: var(--space-xl);
    color: var(--Grey-400);
    font-size: var(--fs-lg);
    font-family: var(--font-heads);
    letter-spacing: var(--space-xxs);
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in;
}

.section-title:hover,
.section-title:focus {
    color: var(--Black);
}

.comment {
    gap: var(--space-sm);
    padding: var(--space-lg)
}

.commentor-image {
    width: 80px;
    border-radius: var(--radius-circle);
    margin-bottom: var(--space-lg);
    transition: all 0.2s ease-in;
}

.commentor-image:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 5px 5px 10px var(--Shadow);
}

.commentor-message {
    color: var(--Grey-600);
    font-size: var(--fs-md);
    max-width: 355px;
    margin-bottom: var(--space-md);
}

.commentor-name {
    font-family: var(--font-heads);
    font-weight: var(--fw-dark);
}

.commentor-job {
    color: var(--Grey-400)
}

/* images */

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.image.desktop {
    display: none;
}

/* footer */

.footer {
    font-size: var(--fs-sm);
    text-align: center;
    background-color: var(--footer-background);
}

.footer-title {
    color: var(--Green-800);
    font-size: var(--fs-xl);
    margin: var(--space-lg) 0;
    transform: scaleY(0.9);
}

.link-list {
    display: flex;
    justify-content: center;
    gap: var(--space-xl);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: var(--space-lg);
    margin: var(--space-xxl) 0 var(--space-xl);
}

.footer .link {
    color: var(--Green-500);
    transition: all 0.2s ease-in;
}

.footer .link:hover {
    color: var(--White);
}

.icon {
    transition: all 0.2s ease-in;
}

.icon:hover {
    transform: scale(1.2) translateY(-10px);
}

.credit {
    color: var(--White);
}

/* Desktop Layout */
/* 54rem = 864px based on 16px default root HTML font size */
@media screen and (min-width: 54rem) {
    /* Important */

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    /* Header */

    .logo {
        width: 200px;
    }

    .top-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-button {
        display: none;
    }

    .navigation {
        opacity: 1;
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
        transform: none;
    }

    .triangle {
        display: none;
    }

    .nav-list {
        flex-direction: row;
    }

    .nav-list .link {
        color: var(--White);
    }

    .cta {
        background-color: var(--White);
    }

    #cta {
        color: var(--Black);
    }

    #cta:hover,
    #cta:focus {
        color: var(--White)
    }

    .hero {
        margin-block-start: clamp(5%, 5% + 3vw, 10%);
    }

    /* Squares */
    .squares {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas:
            'transform egg'
            'glass stand'
            'graphic photography';
    }

    .egg {
        grid-area: egg;
    }

    .transform {
        grid-area: transform;
    }

    .glass {
        grid-area: glass;
    }

    .stand {
        grid-area: stand;
    }

    .graphic-design {
        grid-area: graphic;
    }

    .photography {
        grid-area: photography;
    }

    .square {
        aspect-ratio: 6 / 5;
        padding: 0;
        height: auto;
    }

    .transform,
    .stand {
        justify-content: center;
        gap: var(--space-md);
        padding: var(--space-lg);
    }

    .img-container {
        display: block;
        padding: 0;
        height: auto;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .img-background {
        justify-content: flex-end;
        padding-bottom: var(--space-xxl);
    }

    .square-background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    /* Comments */

    .comments {
        flex-direction: row;
        margin-bottom: 10rem;
    }

    .section-title {
        margin-top: 10rem;
        margin-bottom: 6rem;
    }

    /* Images */

    .images {
        grid-template-columns: repeat(4, 1fr);
    }
}